body
	{
	background: #000;
	margin: 0px;
	padding: 0px;
	}

.topbar
	{
	display: block;
	background: #505088;
	height: 64px;
	}
	
/* helps emulate the layout of the production version */
.taskListWrapper
	{
	position: absolute;
	top: 64px;
	left: 0;
	height: 100%;
	width: 80%;
	margin: 0 0 0 20%;
	background: #404040;
	text-align: center;
	}

/* wrapper for the whole carousel */
.carouselWrapper
	{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	display: box;
	box-orient: horizontal;
	box-align: stretch;
	
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
	/* overflow: hidden; */
	}

.carouselArrow
	{
	background: green;
	height: 24px;
	width: 64px;
	text-align: center;
	padding: 8px;
	}
#vrlCarousel_navL
	{
	float: left;
	}
#vrlCarousel_navR
	{
	float: right;
	}

/* class for the section wrapping each member's todo list */
.teamMemberList
	{
	height: 100%;
	/* this will be overridden by the carousel javascript as it fits team member lists to the page */
	width: 20%;
	background: #b0b0b0;
	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.7);
	}
