/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 body
	{
	background-color: #303030;
	color: #C0C0C0;
	font-family: Arial;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	}
	
a:link, a:visited, a:active
	{
	/* color: #AA0000; */
	text-decoration: none;
	color: #967B7B;
	}
a:hover
	{
	text-decoration: underline;
	}

#topnav
	{
	margin-bottom: 16px;
	}
a.titleLink
	{
	float: left;
	font-size: 2em;
	text-decoration: none;
	color: white;
	}
a.titleLink:hover
	{
	text-decoration: underline;
	}



ul
	{
	list-style-position: inside;
	}
	
input[type=text]
	{
	background: transparent;
	border: 1px solid #4A708B;
	color: white;
	}

.clearFix
	{
	clear: both;
	}
.undecoratedList
	{
	list-style: none;
	}
.centerX
	{
	margin-left: auto;
	margin-right: auto;
	}
	
.LPageHalf
	{
	float: left;
	margin-right: 32px;
	padding: 0px;
	}
.RPageHalf
	{
	float: left;
	margin-left: 32px;
	padding: 0px;
	}



ul#announcement_ticker
	{
	min-height: 36px;
	list-style: none;
	overflow: hidden;
	}
ul#announcement_ticker li
	{
	float: left;
	margin: 4px 8px 4px 0px;
	padding: 4px;
	}
ul#announcement_ticker li#announcement_title
	{
	font-weight: bold;
	color: rgb(83, 112, 150);
	}
ul#announcement_ticker li.announcement
	{
	border-top-left-radius: 4px;
	border-top: 1px dotted rgba(199, 147, 168, 0.5);
	border-left: 1px dotted rgba(199, 147, 168, 0.5);
	}



.major_wrapper
	{
	padding: 16px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.2);
	}
.sub_wrapper
	{
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.3);
	}

.dragAuthSource
	{
	border-radius: 4px;
	border: 2px dotted rgba(135, 199, 150, 0.3);
	}
.dragAuthTarget
	{
	border-radius: 4px;
	border: 2px dotted rgba(199, 147, 168, 0.5);
	}
.authDrag
	{
	margin: 4px;
	padding: 16px;
	border: 1px dotted #4A708B;
	}

.connectedSortable
	{
	}
.sortablePlaceHolder
	{
	height: 40px;
	
	/* image-less checkerboard pattern */
	background-image:
	-webkit-linear-gradient(45deg, #555 25%, transparent 25%, transparent),
	-webkit-linear-gradient(-45deg, #555 25%, transparent 25%, transparent),
	-webkit-linear-gradient(45deg, transparent 75%, #555 75%),
	-webkit-linear-gradient(-45deg, transparent 75%, #555 75%);
	
	background-size: 8px 8px; /* scales the checkerboard down so that each square is 8x8 */
	}

