<html>
	<head>
		<title>DragAuth</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<h1>Drag-n-Drop Authorization</h1>
		
		<%= yield %>
		
	</body>
</html>
