<!-- js included from layout -->

<div class="LPageHalf major_wrapper">
	<label for="auth_dragables">Drag</label>
	<ul id="auth_dragables" class="major_wrapper undecoratedList dragAuthSource connectedSortable">
		<% @words.each do |w| %>
			<li class="authDrag" data-word="<%= w %>"><%= w %></li>
		<% end %>
	</ul>
</div>

<div class="LPageHalf">
	=>
</div>

<div class="LPageHalf major_wrapper">
	<label for="auth_target_one">Drop</label>
	<ul id="auth_target_one" class="major_wrapper undecoratedList dragAuthTarget connectedSortable">
	</ul>
	
	<label for="auth_target_two">Drop</label>
	<ul id="auth_target_two" class="major_wrapper undecoratedList dragAuthTarget connectedSortable">
	</ul>
</div>

<div class="LPageHalf">
	=>
</div>

<div class="LPageHalf major_wrapper">
	<button type="button" id="authBtn" class="btn" onclick="DragAuth.authorize(this)">Authorize</button>
	<div id="authMsgs">
		<!-- error msgs go here -->
	</div>
</div>

<script>
	$(document).ready (function () {
		var drag_n_drop_sortables = $('.connectedSortable');
		var auth_targets = ['#auth_target_one', '#auth_target_two'];
		DragAuth.initSort (drag_n_drop_sortables, auth_targets);
	});
</script>
