<div class="major_wrapper">
	<table>
		<tbody>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>pass1</th>
				<th>pass2</th>
			</tr>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.name %></td>
					<td><%= user.pass1 %></td>
					<td><%= user.pass2 %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
